
.container {
    width: 1474px;
    margin: 0 auto;
}

header {
    height: 250px;
    width: 1474px;
    background-color: #ccc;
}
.mot{
    height: 250px;
    width: 1474px;
}

nav {
    height: 50px;
    background-color: #aaa;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.left {
    width: 300px;
    height: 368px;
    background-color: #eee;
    float: left;
}

.right {
    width: 300px;
    height: 368px;
    background-color: #eee;
    float: right;
}

.content {
    margin-left: 310px;
    margin-right: 160px;
    background-color: #fff;
}

footer {
    height: 100px;
    background-color: #ccc;
    clear: both;
}

